// 主色
$color-main = #262a30
// 背景
$color-bg-grey = #f9f9f9
$color-bg-blue = #f1f9ff
// 线条
$color-line = #eee

// 纯白
$color-white = #fff

// 纯黑
$color-black = #000

// 浅灰色
$color-grey = #999

// 灰色
$color-greyPlus = #666


// 文字颜色
$color-text-default = #666

// 激活颜色 / 强调颜色
$color-text-stress = #262a30
